<block name="include"><include file="default:Public/header" /></block>
<link rel="stylesheet" href="/public/home/css/RabbitBao.css">
<link rel="stylesheet" href="/public/home/css/task.css">
<script src="/Public/home/js/RabbitBao.js"></script>
<script src="/Public/admin/js/echarts.js"></script>
<script src="/Public/admin/js/china.js"></script>
<style>
    span{
        color : green;
    }
</style>
</head>
<body>

<div id="header">
    <a href="{:U('home/feed/feedback')}">
        <img class="back" src="/public/home/images/left.png">
    </a>
    反馈历史
</div>

<volist name="res_msg" id="vo">
    <a href="{:U('home/feed/refeedbkin',array('id'=>$vo['id']))}">
        <div class="panel">
            <div class="head"></div>
            <div class="body">
                <p class="title">{$vo.title}</p>
                <p class="time">{$vo.create_time|date="Y",###}年{$vo.create_time|date="m",###}月{$vo.create_time|date="d",###}日{$vo.create_time|date="H",###}:{$vo.create_time|date="i",###}:{$vo.create_time|date="s",###}</p>
                <p class="content">反馈内容：{$vo.content} </p>
                <span class="content" style="text-align: right;float:right">
                    <if condition="$vo.status eq 1">
                        <span><a style="color:green;" class="content" style="text-align: right;" href="{:U('home/feed/feedbker',array('id'=>$vo['id'],'aid'=>$vo['aid']))}">继续反馈</a></span>
                        <elseif condition="$vo.status eq 0" />等待客服接入
                        <elseif condition="$vo.status eq 2" />已完成,客服已关闭
                    </if>
                </span>
            </div>
        </div>
    </a>
</volist>
</body>

</html>